#top
{
    Text-align: center;
    background-color:#4A7183;
    Color: white;
    Padding: 5px;
    Border-style:solid;
    Border-color: red;
}

.modal img {
  max-width: 100%;
  height: auto;
}
.rating {
  font-size: 18px;
  color: gold;
}
.content-section {
  
  margin-bottom: 20px;
}
.content-section h4 {
  margin: 10px 0 5px;
}


#myMenu {
  overflow: hidden;
  background-color: #333;
  position: top;
  bottom: 0;
  width: 100%;
  }
#myMenu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  
.myMenu a:hover {
  background: #7b2b2b;
  color: black;
    
  }
  #myMenu a.active {
    background-color: #04AA6D;
    color: white;
  }
  .my-button:hover {
    background-color: #005f5f; /* Darker blue background */
}
  #body {
    padding:0px; /*Remove padding from body section to fill whole screen*/
    margin:0px; /*Remove margins from body section to fill whole screen*/
    overflow:hidden;
  }
  #content{
    background-color: grey;
    width:100%;
    height:800px;
    overflow-y: scroll; /*Allow content div in middle of screen to scroll*/ 
    overflow-x:hidden;  /*stop central div from moving horizontally*/
}

#btnCamera::file-selector-button {
  width:70px;
  height:70px;
  background-color: grey;
  border-width: 1px;
  border-color: white;
}





.contentCard{
  width:100%;
  height: 800px;
  background-color: grey;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.contentImg{
  height:80%;
  width: 50%;
  position: center;
  
}
  #camera {
    position:relative;
    top:0px;
    width:200px;
    height: 730px;
    background-color: #596a6d;
  }
  #add-location {
    max-width: 400px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="number"],
textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

input[type="file"] {
    margin-bottom: 1em;
}

button {
    background-color: #4A7183;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 4px;
    font-size: 1em;
}

button:hover {
    background-color: #4A7183;
}
#spot{
  background-color: rgb(255, 255, 255);
  width:100%;
  height:800px;
  overflow-y: scroll; /*Allow content div in middle of screen to scroll*/ 
  overflow-x:hidden;  /*stop central div from moving horizontally*/
}
.spot{
  width:100%;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.spot img{
  height:80%;
  width: 50%;
  position: center;
  
}

.mainImg{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.mainImg{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


  
  
